/* NAME + ID STYLE */
.name-style {
    text-indent: 3mm;
    text-align: right;
    text-emphasis-color: red;
    text-emphasis-style: "*";
    text-shadow: 2px 2px yellow;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

/* TOP RIGHT BOX */
.top-right {
    position: absolute;
    top: 10px;
    right: -10px;
    text-align: right;
}

.top-right img {
    display: inline-block;
    vertical-align: top;
    margin-top: -20px;
}

/* COURSES TITLE */
.courses-title {
    margin-top: 120px;
    font-size: 22px;
    font-weight: bold;
}

/* COURSES LIST BOX */
ol {
    border: thick solid purple;
    margin-bottom: 1em;
    padding: 4ex;
    width: 50%;
    background-color: aquamarine;
}

/* BEES HEADING */
h1 {
    color: red;
    text-decoration: underline;
    font-family: Arial, sans-serif;
}

/* TABLE STYLE */
table th {
    background-color: orange;
    color: black;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
}
Are you a beekeeper?
This web page is right for you! Hope you enjoy it.
pre {
    margin-left: 200px;
}


