.name-style  {
    text-indent: 3mm;
    text-align: right;
    text-emphasis-color: red;
    text-emphasis-style: "*";
    text-shadow: 2px 2px yellow;
}

em {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 20px;
    text-align: right;
}

.top-right img {
    display: inline-block;
    margin-top: 10px;
}

ol {
    border: thick solid purple;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 4ex;
    width: 50%;
    background-color: aquamarine;
}

h1 {
    color: red;
    text-decoration: underline;
    font-family: Arial, sans-serif;
}

table th {
    background-color: orange;
    color: black;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
}
